* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}
h1 {
    background-color: cornflowerblue;
    padding: 6rem;
    font-size: 6em;
    color: white;
    border-radius: 50px;
}